<div class="row result">
    <div class="card complete col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div class="card-header complete-header">
          Successful Tasks
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item success-item">                     
             <div class="col-md-12">
                <div class="row">
                    <i class="done fa fa-check rounded-circle" aria-hidden="true"></i>
                    <div class="col-xs-3 col-sm-6 col-md-9 userbox">
                        <h5 class="usrpostname strike" >Hello Brother</h5>
                    </div>
                </div>
            </div>
          </li>
        </ul>
      </div>
</div>
